.card-item {
    border: 0.05rem solid #CBCBCD;
    border-radius: 0.3rem;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

.cards-container {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {
    .cards-container {
      padding-bottom: 0rem;
    }
  }


.card-col {
    padding: 1rem;
}

.card-img-container {
    border: 0.05rem solid #CBCBCD;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.card-title {
    font-weight: bold;
    display:inline-block;
    font-size: 1.1rem;
}

.card-title, .card-date {
    font-style: italic;
}

.card-section {
    float: right;
}

.card-date {
    float: left;
}

.card-description {
    font-size: 0.9rem;
    padding-bottom: 1rem;
}

.card-share-icon {
    display:inline-block;
}
