.search-box {
    min-width: 20rem;
}

.nav {
    background-image: linear-gradient(to right, #172342, #4060B2);
}

.nav-link {
    padding: 0.5rem 1rem;
    display: block;
}

.nav-link:hover {
    color: rgba(255,255,255,.75);
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
}