.Row {
    display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
}
.Column {
    display: table-cell;
    text-align: center;
}

.share-container {
    width: 4.375rem;
    margin-left: 1.2rem;
}